/* Applies “SourceSerifPro” to everything: */
* {
    font-family: 'SourceSerifPro';
}

* {
  box-sizing:border-box;
}

#menu{
  font-size: 20px;
  background-color: #687864;
  font-color: black;
  margin: auto;
  padding: 20px;
  width: 1000px;
  height: 100px;
}

#logo{
  text-align: left;
}

body{
  font-family: SourceSerifPro-BoldItalic;
  background-color: #D9CAB3;
  text-align: center;
  font-weight: 700;
}

.title {
  margin-top: 4em;
  padding: 1em;
}

.title:hover{
  letter-spacing: .05em;
}

div {
  border: 5px solid black;
  display: inline-block;
}

img {
  border-radius: 50%;
  border: 1px solid black;
}


.herbs{
  font-family: SourceSerifPro-Light;
  background-color: #8E5572;
  width: 700px
  height: 700px

}

.crystals{
  font-family: SourceSerifPro-Light;
  background-color: #19647E;
  width: 700px
  height: 700px
}

.decorating{
  font-family: SourceSerifPro-Light;
  background-color: #DD6031;
  width: 700px
  height: 700px
}

.top-link{
  text-decoration: none;
  color: black;
  background-color: #687864;
  margin: auto;
  border: 2px solid black;

.top-link:hover{
  text-decoration: underline;
  font-weight: 700;
  background-color: #687864;
  margin: auto;
  border: 2px solid black;
}
.top-link:visted{
  color: #8E5572
}

header {
  position: fixed;
  background-color: black;
  width: 99%;
  height: 4em;
  top: 0px;
  font-family: sans-serif;
  text-align: right;
}

.menu-item {
  display: inline-block;
  margin: 1em 2em;
  background-color: #687864;
  padding: 1em 1em;
  border-radius: 1em;
  min-width: 6em;
  text-align: right;
}

.menu-item:hover;{
  bacground-color: #687864;
}

.menu-item a{
  color: black;
  text-decoration: none;
}

.dropdown {
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  margin: 1em 0 0 1em;
  color: black;
  background-color: #687864;
  z-index: 1;
  border-radius: 0em 0em 1em 1em;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content a{
  color: #687864
}

.dropdown-item{
  display: block;
  text-align: right;
  margin 0;
  padding: 1em 1em;
  min-width: 6em;
}

.dropdown-item:hover, .dropdown-item:hover a{
  color: #687864;
  background color: black;
}

#foundation:hover{
  border-radius: 0em 0em 1em 1em;
}

.dropdown:hover{
  border-radius: 1em .2em;
}

.site-name{
  color: black;
  float: left;
  min-width: 6em;
  padding: 1em 1em;
  letter-spacing: .3em;
  font-weight: bold;
  margin: 1em
}

.about{
  font-family: SourceSerifPro-Light;
  background-color: #687864;
  width: 700px
  height: 700px
}

.contact{
  font-family: SourceSerifPro-Light;
  background-color: #687864;
  width: 700px
  height: 700px
}
